img{
    height: 300px;
    width: 200px;
   
    border-radius: 0 0 0 45px;
  }
  .card.h-100.rounded-4{
    background-color: #0b5156;
    color: aliceblue;
  }
 img:hover{
  height: 310px;
  width: 100%;
  transition: all 0.5s ;
  
 }
 a{
    border-radius: 30px;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
 }
 a:hover{
  background-color:rgb(236, 191, 77);
  
 }